@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.body {
  position: fixed;
  height: 100vh;
  width: 100%;
  color: white;
  background: linear-gradient(#013280, rgb(29, 99, 164));

  font-family: Roboto Mono, sans-serif;
}
